*{
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}
.navigation{
  list-style:none;
  margin:0;
  background:deepskyblue;
  display:-webkit-flex;
  display:flex;
  -webkit-flex-flow:row nowrap;
  justify-content: center;
}
.navigation a{
  text-decoration:none;
  display:block;
  padding:1em;
  color:white;
}
.navigation li:nth-of-type(4) {
  position: relative;
  margin-right: 10px;
}
.navigation li:nth-of-type(4):after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-right: 2px dashed #fff;
}
.navigation a:hover{background:#00AEE8}
@media all and (max-width:800px){
  .navigation{justify-content:space-around;}
}
@media all and (max-width:600px){
  .navigation{-webkit-flex-flow:column wrap;padding:0}
  .navigation a{
    text-align:center;
    padding:10px;
    border-top:1px solid rgba(255,255,255,0.3);
    border-bottom:1px solid rgba(0,0,0,0.1)
  }
  .navigation li:last-of-type a{border-bottom:none}
  .navigation li:nth-of-type(4):after {
    content: none;
    
  }
}
.wrapper{
  width: 1200px;
  margin: 20px auto;
}
/*.wrapper > *{padding:10px;flex:1 100%}
.header{background:tomato}
.footer{background:lightgreen}
.main{text-align:left;background:deepskyblue}
.aside-1{background:gold}
.aside-2{background:hotpink}
@media all and (min-width:600px){.aside{flex:1 auto}
}@media all and (min-width:800px){.main{flex:2 0px}
.aside-1{order:1}
.main{order:2}
.aside-2{order:3}
.footer{order:4}
}
.flex-container{padding:0;margin:0;list-style:none;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-flow:row nowrap;justify-content:space-around}
.flex-item{background:tomato;padding:5px;width:200px;height:150px;margin-top:10px;line-height:150px;color:white;font-weight:bold;font-size:3em;text-align:center}*/
.sec {
  margin: 20px auto;
}
.sec h3{
  color: deepskyblue;
  margin-bottom: 10px;
}
.sec p {
  line-height: 30px;
}
.sec p span {
  color: tomato;
  padding: 0 6px;
}
.sec p>a {
  display: inline-block;
  border-radius: 10px;
  padding: 5px 10px;
  background: tomato;
  color: #fff;
}
.top-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.25);
  padding: 10px;
  background: tomato;
  color: #fff;
}